
body {
    font-family: monospace ,sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    max-width: 40rem;
    margin:auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    margin: 1rem 0;
    display: flex;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
        background-color: #ffe580;
        color: #373737;
        border-radius: 3px;
        font-weight: bold;
        border: 2px solid black;
        padding: 10px 20px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        font-size: 16px;
        transition: all .1s ease-in-out;
        margin-left: -1ch;
border-left: none;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

.to-the-right{
    margin-left: auto;
}

    
.custom-file-upload:hover {
    background-color: #3199df;
    box-shadow: none;
}


.special {
    margin: 1rem;
}


input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: .5rem 0;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}


.batch{
    background-color: #43b4ff82;
    color: black;
    border-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    border: 2px solid black;
    padding: 10px 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 16px;
    transition: all .1s ease-in-out;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

input[type="submit"] {
    background-color: #43b4ff82;
    color: black;
    border-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    border: 2px solid black;
    padding: 10px 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 16px;
    transition: all .1s ease-in-out;
}


input[type="submit"]:hover {
    background-color: #3199df;
    box-shadow: none;
}

ul {
    list-style-type: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
}

li {
}


.batch-table th, .batch-table td {
    border: 2px solid black;
    padding: 8px;
    border-radius: 3px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.batch-table {
    width: auto; /* Adjust width as necessary, could be 100% if needed */
    margin: auto; /* Helps with centering if flex properties don't fully work */
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 2px solid black;
    border-radius: 3px;
}

.batch-table table{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
	vertical-align: middle;
    border-radius: 3px;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
}

.batch-table thead th{
    width: 25%;
}

.batch-table tbody tr:nth-child(odd) {
    background-color: #fff;
  }

.batch-table tbody tr:nth-child(even) {
    background-color: #eee;
  }

.batch-table tbody th {
    background-color: #36c;
    color: #fff;
    text-align: left;
  }

.batch-table tbody tr:nth-child(even) th {
    background-color: #25c;
  }

.batch-table thead{
    background-color: #333;
    color: white;
    font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

.batch-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.batch-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }